div#slider {
    overflow: hidden;
    margin: auto;
    width: 50%;
    width: 100%;
    max-height: 350px;
  }
  
  div#slider div {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    font-size: 0;
    animation: 20s slider infinite;
  }
  div#slider div img {
    width: 20%;
    float: left;
  }
  @keyframes slider {
    0% {
      left: 0%;
    }
    20% {
      left: 0%;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95% {
      left: -300%;
    }
  }
  