html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden scroll;
}

body {

    margin: 0 auto;
    height: 100%;;
    font-family: 'Muli', sans-serif;   
    color: rgb(240, 112, 14); 
    max-width: 100%;
}
nav a{
    text-decoration: none;
    color: rgb(240, 119, 14);
}
nav {
    padding: 20px 50px;
    border-bottom: 1px solid ;
    border-color: rgb(252, 229, 188);
    color: rgb(240, 112, 14);
}
nav ul {
    margin:10px 0 5px 0;
    padding: 0;
    display: inline-block;
    float: right;
    list-style: none;
}
 nav div {
     display: inline-block;
     font-size: 2em;
 }

nav li {
    padding: 10px;
    margin: 5px;
    display: inline;
}




.container {width: 80%; margin: 0px auto;}
[class*="col-"] {float: left; padding: 15px;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 26%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 { width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.login-page {
    background: #f5f9f7; 
    width: 100%; 
    padding: 55px 0px; 
    justify-content: center;
    height: 100vh;
    margin-left: auto;
    margin-right: auto; 
}
.login-form{
    margin: 30px auto 0 auto;
    width: 400px; 
    box-shadow: 1px 2px 5px 3px #9b8b85; 
    padding: 10px 0 30px 0; 
    background: white;
}
 a{
     text-decoration: none;
     color: inherit;

 }
.forgotpassword a {
    color: rgb(224, 191, 147);
}
.login-heading {
    color: #fc4a1a; 
    text-align: center;
}
.login {
    width: 100%; 
    display: grid; 
    justify-content: center;
}
input[type="text"], input[type="password"] {
    width: 341px;
    height: 50px;
    margin-bottom: 26px;
    border: none;
    background: #f3efef;
    padding-left: 15px;
    outline: none;
}
input[type="search"] {
    width: 339px;
    height: 40px;
    margin-left: 14px;
    border: none;
    background: #f3efef;
    padding-left: 15px;
    outline: none;
}
input[type="submit"] {
    width: 359px;
    height: 50px;
    border: none;
    color: white;
    background: #fc4a1a;
    cursor: pointer;
    font-size: 20px;
}
input[type="file"] {
    width: 359px;
    height: 50px;
    border: none;
    color: white;
    margin-bottom: 26px;
    cursor: pointer;
    font-size: 20px;
}
select{
    width: 341px;
    height: 50px;
    margin-bottom: 26px;
    border: none;
    background: #f3efef;
    padding-left: 15px;
    outline: none;
}
#page-banner{
  width: 100%;
  height: 350px;
  margin:0;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome{
    display:inline-block;
    float: left;
    text-align: center;
    padding:90px;
}
.welcome-img img{
    display:inline-block;
    float: right;
    height: 260px;
    widows: 100%;
}
/* ************************************ */
            /* Product display */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: rgb(240, 112, 14);
    margin: 15px;
    position: relative;
    
}
.card h4{
    float: left;
    display: inline-block;
}
.text{
    float: right;
    display: inline-block; 
    
}
.card .col-3{
    width: 30%;
}
.text-left{
    float:left;
    display: inline-block; 
   
}
#page{
   padding-left: 90px;
   justify-content: center;
   height: 100vh;
   width: 92%;;
   margin-left: auto;
   margin-right: auto; 
}
#page::before, #page::after{
    clear: both;
}
.card img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

.product-detail{
    padding: 2px 16px;
    
}   

#footer{
    text-align:center;
    height: 40px;
    padding: 15px;
    color: wheat;
    background: rgb(240, 119, 14); 
    background: linear-gradient(to right, #f7b733, #fc4a1a); 
    overflow: hidden;
    width: 100%;

}
/* ************Admin page************* */
.admin-page{
    padding:1px; 
    width: 80%;;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;

}
.admin-page .card{
    background: #f3efef;

}
hr{
    color:rgb(214, 210, 207);
}
.admin-page p{
    color: rgb(121, 54, 4);
    
}
.active{
    color: rgb(218, 51, 5) !important;
}

/* ****button***** */

.button {
    display: inline-block;
    padding: 12px 23px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:rgba(218, 51, 5, 0.7);
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #999;
    margin-bottom: 10px;
  }
  
  .button:hover {background-color:rgb(218, 51, 5)}
  
  .button:active {
    box-shadow: -5px 5px 5px #999;
    transform: translateY(0.5px);
  }

  /* ****Tables***** */

.table {
    border-collapse: collapse;
    max-width: 100%;
    color: rgb(121, 54, 4);
    
}
.card {
    overflow-x:auto;
}
th, td {
    text-align: left;
    padding: 10px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: rgba(218, 51, 5, 0.7);
    color: #ffffff;
    margin-top: 10px;
}
.table-caption{
   display: inline-block;
   color: rgb(121, 54, 4);
   padding: 5px;
   margin: 0;
   text-align: center;
}
.dashboard{
    margin-top: 53px;
}

/* Product  */

.description p{
    color: #9b8b85;
    display: inline-block;
    text-align: justify;
    font-style: italic;
    margin: 0;
    padding: 0;
}
.description h3{
    display: inline-block;
    margin: 5px;
    padding: 0;
}
.description img{
    max-height: 450px;
    max-width: 100%;
}
.description img:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

/* ************ Instock Badge  *************** */

.ribbon {
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid rgb(240, 112, 14);;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    font-size: 10px;
    padding: 10px 0px 8px 5px;
    background-color: rgb(240, 112, 14);;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
  }
  
  .ribbon-top-left {
    top: -10px;
    left: -10px;
  }
  .ribbon-top-left::before,
  .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-top-left::before {
    top: 0;
    right: 0;
  }
  .ribbon-top-left::after {
    bottom: 0;
    left: 0;
  }
  .ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
  }




  /* ******************   Page responsive media query***************************** */
@media screen and (max-width: 850px){
    [class*="col-"] {
        
        padding: 15px;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
}

  @media screen and (max-width: 700px) {
      nav{
          text-align: center
      }
    nav div {
        display: block
    }
    nav ul {
        display: block;
        float: none;
    }

    nav li {
        display: block;
    }
    
    [class*="col-"] {
        display: block; 
        padding: 15px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

 .far, .link{
     cursor: pointer;
 } 
 .delete-btn{
     background: #9b8b85;
 }
 .delete-btn:hover{
     background: #3f1201;
 }
 td{
     font-weight: bold;
 }
 tfoot td{
   
    font-weight: bolder;
    font-size: 1.1em;
 }
 .center{
     text-align: center;
     font-size: 1.2em;
     font-weight: bold;
 }

 @media screen and (max-width: 850px){
    #page, .admin-page, .login-page {
        margin: 0;
        width: 95%;
        padding-left:50px;
        margin-left: auto;
        margin-right: auto;
    }
}